.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: unset;
  /* background: var(--slate); */
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(15px);
}

.header-nav {
  display: flex;
  gap: 80px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    /* background: var(--slate); */
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(15px);
  }
}
