.menu {
  display: none;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
  transition: 0.4s;
}

.menu ul :hover {
  color: var(--gold);
}

.menu ul a {
  text-decoration: none;
  color: var(--cloud);
  font: var(--button);
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}
