.button-icon {
  padding: 10px;
  border: 2px solid var(--purple);
  background: var(--white);
  border-radius: 4px;
  text-decoration: none;
  display:inline-block;
}

.button-icon img {
  vertical-align: middle;
}
