.footer {
  color: var(--white);
  text-align: center;
}
.footer .social {
  justify-content: center;
}
.footer-logo {
  display: none;
}

@media screen and (min-width=768px) {
  .footer {
    display: flex;
  }
}
