.forms-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-inline-size: 540px;
  margin: auto;
}

.forms {
  margin-block-end: 80px;
}
.forms .title {
  margin: 0;
}

.forms p {
  color: var(--white);
  margin: 0;
  text-align: center;
}
.forms label {
  display: flex;
  flex-direction: column;
  font: var(--button);
}

.forms input,
.forms textarea {
  border: 2px solid #b8b8b8;
  border-radius: 8px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  padding-block-start: 16px;
  padding-block-end: 16px;
  font: var(--body1);
  margin-block-start: 8px;
}

@media screen and (min-width: 768px) {
  .forms .title {
    align-self: stretch;
    text-align: center;
  }
}
