@import './css/menu.css';
@import './css/button.css';
@import './css/button-icon.css';
@import './css/header.css';
@import './css/wrapper.css';
@import './css/hero.css';
@import './css/social.css';
@import './css/portfolio.css';
@import './css/footer.css';
@import './css/form.css';

:root {
  --fontbase: 'Noto Sans', sans-serif;
  --headline1: bold 60px/87px var(--fontbase);
  --headline2: 40px/54px var(--fontbase);
  --headline3: bold 24px/33px var(--fontbase);
  --headline4: 34px/55px var(--fontbase);
  --headline5: bold 24px/38px var(--fontbase);
  --body1: 16px/22px var(--fontbase);
  --button: bold 16px/22px var(--fontbase);
  --form: bold 14px/22px var(--fontbase);

  --gradient: linear-gradient(
    to right,
    #fdc830,
    #f37335
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --darkg: linear-gradient(
    to bottom,
    #000000,
    #181818
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --onyx: #000000;
  --slate: #202020;
  --cloud: #ffffff;
  --gold: #fdc830;
}

body {
  background: var(--darkg);
  background-size: cover;
  min-height: 100vh;
  font: var(--body1);
  color: var(--cloud);
  margin: 0;
  }


