.testimony {
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.testimony-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimony-image {
  text-align: center;
}

.testimony-image img {
  max-inline-size: 100%;
}

@media screen and (min-width: 768px) {
  .testimony {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-block-start: 60px;
    padding-block-end: 60px;
  }
  .testimony-description {
    flex: 1;
  }

  .testimony-image {
    flex: 1;
    text-align: center;
  }

  .testimony:nth-child(odd) .testimony-image {
    order: 2;
  }
}
